{% extends 'base/base.html' %}
	
{% block page_content %}
<div class="card shadow mb-4">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <a href="#" class="btn btn-danger">Guardar</a>
		<a href="#" class="btn btn-success">Imprimir</a>
        <a href="{% url 'fac:factura_list' %}" class="btn btn-info">Cancelar</a>
    </div>
    <div class="card-body">
        <div class="content">
            <!-- Sección Superior -->
            <div class="row">
                <!-- Sección Izquierda -->
                <div class="col-lg-6">
                    Sección Izquierda
                </div>
                <!-- Fin Sección Izquierda -->
                <!-- Sección Derecha -->
                <div class="col-lg-6">
                    Sección Derecha
                </div>
                <!-- Fin Sección Derecha -->
            </div>
            <!-- Fin Sección Superior -->
			<!-- Inicio Detalle -->
            <hr>
            <div class="row p-1">
                Detalle
			</div>
			<!-- Fin  Detalle -->
        </div>
    </div>
</div>
{% endblock %}
{% block js_page %}
<script>
    $(function () {
        $("#sidebarToggle").click();
    });
</script>
{% endblock %}