<div class="modal-dialog modal-lg">
    <div class="modal-content">
        {% if obj %}
        <form method="POST" role="form" class="form-inline" action="{% url 'inv:producto_edit' obj.pk %}" >
        {% else %}
        <form method="POST" role="form" class="form-inline" action="{% url 'inv:producto_new' %}" >
        {% endif %}
            <div class="col-xl-12 col-md-12 mb-12">
                {% if obj %}
                <div class="card border-left-warning shadow h-100 py-2">
                {% else %}
                <div class="card border-left-success shadow h-100 py-2">
                {% endif %}
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            {% if obj %} Editar {% else %} Nueva {% endif %} Producto
                        </div>
                        <div class="dropdown-divider"></div>
                        {% csrf_token %}
                        <div class="row">
                            {#{ form.as_p }#}
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="col-md-6">{{form.codigo.label}}</div>
                                <div class="col-md-6">{{form.codigo}}</div>
                            </div>

                            <div class="col-md-6">
                                <div class="col-md-6">{{form.codigo_barra.label}}</div>
                                <div class="col-md-6">{{form.codigo_barra}}</div>    
                            </div>                            
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="col-md-6">{{form.descripcion.label}}</div>
                                <div class="col-md-6">{{form.descripcion}}</div>
                            </div>

                            <div class="col-md-6">
                                <div class="col-md-6">{{form.estado.label}}</div>
                                <div class="col-md-6">{{form.estado}}</div>    
                            </div>                            
                        </div>
                        
                        <div class="row">
                            <div class="col-md-6">
                                <div class="col-md-6">{{form.precio.label}}</div>
                                <div class="col-md-6">{{form.precio}}</div>
                            </div>

                            <div class="col-md-6">
                                <div class="col-md-6">{{form.existencia.label}}</div>
                                <div class="col-md-6">{{form.existencia}}</div>    
                            </div>                            
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="col-md-6">{{form.ultima_compra.label}}</div>
                                <div class="col-md-6">{{form.ultima_compra}}</div>
                            </div>

                            <div class="col-md-4">
                                <div class="col-md-6">{{form.marca.label}}</div>
                                <div class="col-md-6">{{form.marca}}</div>    
                            </div>     
                            <div class="col-md-4">
                                <div class="col-md-6">{{form.unidad_medida.label}}</div>
                                <div class="col-md-6">{{form.unidad_medida}}</div>    
                            </div>                        
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="col-md-6">Categoría</div>
                                <div class="col-md-6">
                                    <select name="categoria" id="id_categoria" class="form-control from-control-sm">
                                        <option value="0">-------</option>
                                        {% for item in categorias %}
                                        <option value="{{item.id}}">{{item.descripcion}}</option>
                                        {% endfor%}
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="col-md-6">Sub Categoría</div>
                                <div class="col-md-6">
                                    <select name="subcategoria" id="id_subcategoria" class="form-control from-control-sm">
                                        <option value="0">-------</option>
                                        {% for item in subcategorias %}
                                        <option value="{{item.id}}" data-chained="{{item.categoria.id}}">{{item.descripcion}}</option>
                                        {% endfor%}
                                    </select>
                                </div>
                            </div>                           
                        </div>

                        <div class="dropdown-divider"></div>
                        <div class="row">
                            <div class="col">
                                <button type="submit" class="btn btn-danger"><span class="fa fa-save"></span> Guardar</button>
                                <!-- <a href="{% url 'inv:um_list' %}" class="btn btn-success"><span class="fa fa-undo"></span>Cancelar</a> -->
                                <button type="button" class="btn btn-success" onclick="return cerrar_modal()">
                                    Cancelar
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="far fa-calendar-plus fa-2x text-gray-300"></i>
                    </div>
                    </div>
                </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    $(function() {
        $("#id_categoria").val("{{ obj.subcategoria.categoria.id }}").change();
        $("#id_subcategoria").val("{{ obj.subcategoria.id }}").change();
        $("#id_subcategoria").chained("#id_categoria");
    });
</script>